---

---
<footer class="footer-area bg-img" style="background-image: url(img/core-img/pattern.png);"> 
    <div class="footer-content-area "> 
        <div class="container"> 
            <div class="row "> 
             
                <div class="col-12 col-lg-4 col-md-6"> 
                    <div class="footer-copywrite-info"> 
                        <!-- Copywrite -->                                 
                        <div class="copywrite_text fadeInUp" data-wow-delay="0.2s"> 
                            <div class="footer-logo"> 
                                
                            </div>    
                                                           
                            <p>Vous pouvez me retrouver sur :</p> 
                        </div>                                 
                        <!-- Social Icon -->                                 
                        <div class="footer-social-info fadeInUp" data-wow-delay="0.4s"> 
                           
                            <a href="https://twitter.com/csurbier"> <i class="fa fa-twitter" aria-hidden="true"></i></a> 
                            <a href="https://github.com/csurbier"><i class="fa fa-github" aria-hidden="true"></i></a> 
                            <a href="https://www.malt.fr/profile/christophesurbier"><i class="fa fa-slack" aria-hidden="true"></i></a> 
                            <a href="https://www.linkedin.com/in/christophesurbier/"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
                        </div>                                 
                    </div>                             
                </div>                         
                <div class="col-12 col-lg-3 col-md-6"> 
                    <div class="contact_info_area d-sm-flex justify-content-between"> 
                        <!-- Content Info -->                                 
                        <div class="contact_info mt-x text-center fadeInUp" data-wow-delay="0.3s"> 
                            
                        </div>                                 
                    </div>                             
                </div>                         
                <div class="col-12 col-lg-2 col-md-6 "> 
                    <!-- Content Info -->                             
                    <div class="contact_info_area d-sm-flex justify-content-between"> 
                        <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.2s"> 
                           
                        </div>                                 
                    </div>                             
                </div>                         
                <div class="col-12 col-lg-3 col-md-6 "> 
                    <div class="contact_info_area d-sm-flex justify-content-between"> 
                        <!-- Content Info -->                                 
                        <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s"> 
                            
                        </div>                                 
                    </div>                             
                </div>    
                <div class="col-12" style="font-size: 14px;">
                    Copyright © 2023. Created with ❤️ in Barcelona. Build proudly with <a style="color:white" href="https://astro.build/" target="_blank"><img style="width:20px" src="https://astro.build/favicon.svg" alt="Astro"/>Astro</a>
                </div>                     
            </div>                     
        </div>                 
    </div>             
</footer>     
<script is:inline src="/js/jquery.min.js"></script>
<script is:inline src="/js/popper.min.js"></script>
<script is:inline src="/js/bootstrap.min.js"></script>
<script is:inline src="/js/plugins.js"></script>
<script is:inline src="/js/script.js"></script>

